/* basic
--------------------------------------------------------------*/
body {
    font-family: "ai??i??a?AA?A´a?a?A￠a?°A≪a??a?i?A￣A?A!","YuGothic",'Hiragino Kaku Gothic ProN','a?a??a?ca?Ra??eAA?A§a??a?AA?A´ ProN W3',Meiryo,a?!a??a?aa?a,'PT Sans','Lucida Grande',sans-serif;
    font-weight: 500;
    line-height: 1.75;
    overflow-y: scroll;
    letter-spacing: 0.1em;
    color: #555;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.375;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.en {
    font-family: Arial, Helvetica, sans-serif;
}

.pc {
    display: none;
}

.tab {
    display: none;
}

a, #page-top img, .btn, .mfp_element_button {
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    -ms-transition: 1.5s;
    transition: 1.5s;
}

a:hover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    text-decoration: none;
}

a {
    color: #555;
    text-decoration: none;
}

.btn-default:hover {
    background-color: #e8d5c7;
}

.navbar, footer, #main-slide, .intro, .normal, #sub-page .post, .btn, #sub-page.menu section.lv2 {
    /*box-shadow: 0 0 20px rgba(100,191,170,0.2);*/
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.key-color {
    /*color: rgba(100,191,170,1) !important;*/
    color: #000 !important;
}

.key-bg-color {
    /*background: rgba(100,191,170,0.7) !important;*/
    background: #fff !important;
    color: #000;
}

.key-bd-color {
    border: 1px solid rgba(100,191,170,0.7) !important;
}

.key-bd-top-color {
    /*border-top: 1px solid rgba(100,191,170,0.7) !important;*/
}

/* IEa??Edgeai?A￣A?A!?c-? */
.object-fit-img {
    object-fit: cover;
    font-family: 'object-fit: cover;'
}

#mainImg {
    width: 1582px;
    margin: 0 auto;
    position: relative;
}

.floor-link-list {
    position: absolute;
    top: 31%;
    right: 1%;
    width: 22%;
}

.link-7f,.link-6f,.link-5f,.link-4f,.link-3f,.link-2f {
    margin-bottom: 4%;
}

/*a??a?|a?3a?-a??a?a?A?A°a??a??a?3*/
.dlbtn {
    display: inline-block;
    color: #ffffff;
    background: #000;
    padding: 15px 30px;
    text-decoration: none;
    margin-bottom: 1%;
}

.border {
    border: 2px solid #000;
    padding: 13px 30px;
}

.dlbtn.border:hover {
    background: #fff;
    color: #000;
}

/*0322e??eAA?A¨?*/
.ad-tk-margin {
    margin: 0% -2% 0% 0%;
}

@media (min-width: 768px) {
    .pc {
        display: block;
    }

    .sp {
        display: none;
    }

    /* jquery.inview */
    .inview {
        opacity: 0;
        -webkit-transform: translate(0,50px);
        -moz-transform: translate(0,50px);
        -o-transform: translate(0,50px);
        -ms-transform: translate(0,50px);
        transform: translate(0,50px);
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        -ms-transition: 1s;
        transition: 1s;
    }

    .inview-on {
        opacity: 1.0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -o-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
}

/* #loader-bg
--------------------------------------------------------------*/
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 1101;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 10px;
    margin-top: -5px;
    margin-left: -50px;
    text-align: center;
    color: #fff;
    z-index: 1102;
}

/* nav
--------------------------------------------------------------*/
.navbar {
    margin-bottom: 0;
    border: none;
}

.nav > li {
    border-top: 1px solid rgba(255,255,255,0.5);
}

.nav > li:first-child {
    border-top: none;
}

.navbar-inverse {
    background-color: rgba(255,255,255,0.9);
}


.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-inverse a.navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background: #ddd;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #777;
}

.navbar-inverse .navbar-nav > li > a {
    color: #777;
}

.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ddd;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

#logo-main {
    margin: 0;
}

.navbar-brand {
    height: auto;
}

.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.nav .dropdown #menu_sub li {
    border-top: 1px dotted rgba(255,255,255,0.5);
}

.nav .dropdown #menu_sub li a {
    color: #fff;
    padding: 10px 5px 10px 40px;
    display: block;
    line-height: 20px;
}

@media (min-width: 768px) {
    /*a??ca??aA￠a?￢A°A￠a?°Aae?i??a?I?a??a?oa??768pxa??a?a?A?A°a?i?A￣A?A!a?a??a?a??a?a??ea-a??e??a??a??*/ .nav > li {
        border-top: none;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .navbar-nav > li > a {
        padding: 30px 15px 17px;
        font-size: 14px;
    }

    .nav .dropdown #menu_sub {
        position: absolute;
        top: 55px;
        left: 0;
        background-color: rgba(100,191,170,0.7);
        border-radius: 0 0 8px 8px / 0 0 8px 8px;
    }

    .nav .dropdown #menu_sub li a {
        padding: 10px 15px;
        width: 250px;
    }

    .nav .dropdown #menu_sub li a:hover {
        background: rgba(100,191,170,1);
    }
}

/* a??a??a??a?i??a??a??
--------------------------------------------------------------*/
.lity {
    background: rgba(233, 214, 214, 0.9);
}

.lity-content img {
    object-fit: contain;
}

.lity-content:after {
    box-shadow: none;
}

/* a?a??a??a??a?aA￠a?￢A°a
--------------------------------------------------------------*/
.terrahall {
    padding-bottom: 5%;
}

.terrahall th {
    width: 30%;
}

/* #page-top
--------------------------------------------------------------*/
#page-top img:hover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    margin: 0;
}

/* footer
--------------------------------------------------------------*/
footer {
    padding: 30px 0;
    background: #fff;
}

footer .sns {
    text-align: center;
    display: none;
}

footer .sns p {
    margin: 0;
}

footer .sns li {
    display: inline;
}

footer .sns li a img {
    height: 40px;
    width: auto;
    margin: 20px 10px;
}

footer .cr {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

#sub-page.mail.thanks footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 568px) {
    footer {
        padding: 40px 0 20px;
    }

    #sub-page.mail.thanks footer {
        position: static;
    }
}

@media (min-width: 768px) {
    footer {
        padding: 40px 0 20px;
    }

    #sub-page.mail.thanks footer {
        position: absolute ;
    }
}

/* #top-page
--------------------------------------------------------------*/
#top-page #wrap {
    display: none;
}

#main-slide {
    position: relative;
    background: url(../images/top/fv-sp.jpg) no-repeat center / cover;
}

#main-slide li {
    visibility: hidden;
}

#main-slide #main-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 100;
}

#main-slide #main-message, #main-slide #main-message img {
    width: 200px;
}

#sub-message {
    text-align: center;
    font-size: 26px;
    padding: 65px 20px 20px;
    font-weight: 600;
    color: rgba(100,191,170,1);
}

#top-page #sub-message {
    background: #fff;
    padding: 30px 20px 20px;
    margin: 0;
}

#top-page .intro {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#top-page #main-contents {
    padding-top: 30px;
}

#top-page #main-contents img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#top-page #main-contents img.banner {
    height: 100px;
}

#top-page #main-contents h2 {
    font-size: 18px;
    line-height: 1.75;
    margin: 20px 20px 0;
    font-weight: bold;
}

#top-page #main-contents .left h2 {
    left: 20px;
}

#top-page #main-contents p {
    text-align: justify;
    padding: 5px 20px 0;
}

#top-page #main-contents p.wrapper {
    text-align: center;
    padding: 10px 0 60px;
    margin: 0;
}

#top-page #main-contents .normal {
    padding: 40px 0 60px;
}

#top-page #main-contents .normal .txt {
    position: static;
    margin: 0 auto;
}

#top-page #main-contents .normal .txt h2, #top-page #main-contents .normal#access h2 {
    text-align: center;
}

#top-page #main-contents .normal#access .map {
    margin-top: 15px;
}

#top-page #main-contents .normal#access .map iframe {
    width: 100%;
    height: 350px;
}

#top-page #main-contents .normal#access .room {
    margin-top: 30px;
}

#top-page #main-contents .normal#access .room .wrap-img {
    padding: 0;
}

#top-page #main-contents .normal#access .room .wrap-img img {
    height: auto;
}

#top-page #main-contents dl {
    margin: 15px 40px;
    border-top: 1px solid #ddd;
}

#top-page #main-contents dl dt {
    padding-top: 10px;
}

#top-page #main-contents dl dd {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

@media (min-width: 568px) {
    #top-page #main-contents img {
        height: 250px;
    }

    #top-page #main-contents img.banner {
        height: 100px;
    }
}

@media (min-width: 768px) {
    #mainImg {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    #mainImg img {
        max-width: 100%;
        height: auto;
    }

    #sub-message, #top-page #sub-message {
        font-size: 34px;
        line-height: 51px;
        padding: 100px 20px 40px;
        margin: 0;
    }

    #top-page #main-contents {
        background: #fff;
        padding-bottom: 0;
    }

    #top-page #main-contents img {
        height: 350px;
    }

    #top-page #main-contents img.banner {
        height: 100px;
    }

    #top-page #main-contents .normal .txt {
        margin-right: 80px;
        margin-left: 80px;
    }

    #top-page #main-contents dl dt {
        float: left;
        width: 95px;
        padding-bottom: 10px;
    }

    #top-page #main-contents dl dd {
        padding-left: 100px;
        padding-top: 10px;
    }
}

@media (min-width: 992px) {
    #main-slide #main-message, #main-slide #main-message img {
        width: 400px;
    }

    #top-page #main-contents {
        padding-top: 0;
    }

    #top-page #main-contents .txt {
        position: absolute;
        right: 4%;
        bottom: 10%;
        width: 540px;
    }

    #top-page #main-contents .intro .txt {
        /*text-shadow: 0 0 4px #fff;*/
        color: #fff;
    }

    #top-page #main-contents .intro.inverse .txt {
        /*text-shadow: 0 0 4px #fff;*/
        color: #fff;
        background-color: rgba(43,22,6,0.4);
        padding: 30px;
    }

    #top-page #main-contents .left .txt {
        left: 4%;
    }

    #top-page #main-contents .intro .txt .btn {
        font-weight: 500;
    }

    #top-page #main-contents .intro.inverse .txt .btn {
        text-shadow: none;
    }

    #top-page #main-contents h2 {
        font-size: 26px;
        margin: 0 0 5px;
        font-weight: normal;
    }

    #top-page #main-contents p {
        padding: 0;
    }

    #top-page #main-contents p.wrapper {
        padding-top: 10px;
        padding-bottom: 0;
        text-align: left;
    }

    #top-page #main-contents img {
        height: auto;
        object-fit: fill;
    }

    #top-page #main-contents .normal .txt {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    #top-page #main-contents .normal#access .map iframe {
        height: 500px;
    }

    #top-page #main-contents dl {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    #top-page #main-contents .txt {
        font-size: 16px;
        width: 420px;
    }

    #top-page #main-contents .normal#access .map iframe {
        height: 600px;
    }

    #sub-message, #top-page #sub-message {
        font-size: 40px;
    }
}

@media (min-width: 1800px) {
    #top-page #main-contents .txt {
        width: 570px;
    }

    #top-page #main-contents p.wrapper {
        padding-top: 30px;
    }
}

/* #sub-page
--------------------------------------------------------------*/
#sub-page .post {
    background: #fff;
    margin-bottom: 0;
    padding: 0 0 30px;
    float: left;
}

#sub-page .post .map {
    padding: 0 15px;
}

#sub-page .post .map iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

#sub-page .post > h1 {
    font-size: 16px;
    line-height: 1.5;
}

#sub-page .post > h1, #sub-page .post > p {
    margin-right: 20px;
    margin-left: 20px;
}

@media (min-width: 768px) {
    #sub-page .post {
        padding: 0 0 50px;
    }

    #sub-page .post > h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #sub-page .post > p {
        height: 105px;
        overflow: auto;
    }

    #sub-page .post > h1, #sub-page .post > p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #sub-page .post .map {
        padding: 0 30px;
    }

    #sub-page .post .map iframe {
        height: 800px;
    }
}

/* #sub-page.menu
--------------------------------------------------------------*/
#sub-page h2,h3,.ale {
    font-family: 'Vollkorn', serif;
}

#sub-page .descriptiontext {
    margin: 30px 0 50px 0;
}

.line {
    position: relative;
    text-align: center;
}

.line span {
    position: relative;
    z-index: 2;
    display: inline-block;
    /*margin: 0 2.5em;*/
    padding: 0 1em;
    background-color: #fff;
    text-align: left;
}

.line::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #eee;
}

#sub-page #main-contents dl {
    margin: 15px 40px;
    border-top: 1px solid #ddd;
}

#sub-page #main-contents dl dt {
    padding-top: 10px;
}

#sub-page #main-contents dl dd {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#sub-page.menu #main-contents h1 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#sub-page.menu section.lv1 {
    padding: 0.5% 0;
}

#sub-page.menu section.lv1 > h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

#sub-page.menu section.lv2 {
    background-color: rgba(100,191,170,0.7);
    padding: 20px;
    margin-bottom: 30px;
}

#sub-page.menu section.lv2 > h1, #sub-page.menu section.lv2 > p {
    color: #fff;
}

#sub-page.menu section.lv2 > h1 {
    font-size: 22px;
    margin: 5px 0 10px;
    font-weight: 600;
}

#sub-page.menu section.lv2 > p {
    text-align: justify;
    margin: 0 15px 15px;
}

#sub-page.menu section.lv3 {
    background-color: rgba(255,255,250,1);
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    border-radius: 6px;
}

#sub-page.menu section.lv3 > h1 {
    font-size: 20px;
    margin: 5px 0 15px;
    font-weight: 600;
}

#sub-page.menu section.lv3 > p {
    text-align: justify;
    border-top: 1px dotted #ccc;
    padding-top: 10px;
}

#sub-page.menu section.lv3 li, #sub-page.menu section.lv3 img {
    border-radius: 4px;
}

#sub-page.menu section.lv3 li {
    margin-bottom: 5px;
}

#sub-page.menu section.lv3 img {
    margin-bottom: 10px;
}

#sub-page.menu section.lv3 li {
    background-color: rgba(245,240,220,1);
    padding: 15px;
    line-height: 1.5;
    font-size: 16px;
}

#sub-page.menu section.lv3.tokuten li {
    background-color: rgba(255,150,130,1);
    color: #fff;
    font-size: 18px;
}

#sub-page.menu section.lv3 li:last-child {
    margin-bottom: 0;
}

#sub-page.menu section.lv3.tokuten li span {
    color: rgba(255,255,0,1);
}

#sub-page.menu section.lv3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#sub-page.menu section.lv3 table th, #sub-page.menu section.lv3 table td {
    text-align: right;
    font-weight: 500;
    padding: 8px 3px;
}

#sub-page.menu section.lv3 table th {
    width: 45%;
}

#sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3 table th {
    width: 22%;
}

#sub-page.menu section.lv3 table td {
    padding-right: 20%;
}

#sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3 table td {
    padding: 8px 3px;
}

#sub-page.menu section.lv3 table td.note {
    padding-right: 0;
    text-align: left;
}

#sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3 table td.note {
    width: 48%;
    text-indent: -1em;
    padding-left: calc(1em + 3px);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(245,240,220,1);
}

.well {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #9c7615;
    border-radius: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

.well img {
    max-width: 100%;
}

.well2 {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    /*border: 1px solid #9c7615;*/
    border-radius: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
}

.well2 img {
    max-width: 100%;
}

#sub-page.menu .sessionmenu {
    margin-top: 50px;
}

#sub-page.menu .sessionaccess {
    margin-top: 50px;
}

.menu-font-color {
    color: #ff0000;
    font-weight: bold;
}

@media (min-width: 768px) {
    #sub-page.menu section.lv2 {
        border-radius: 12px;
    }

    #sub-page.menu section.lv2 > p {
        text-align: center;
    }

    #sub-page.menu section.lv3 > p {
        text-align: center;
    }

    #sub-page.menu section.lv3.tokuten li {
        font-size: 24px;
    }

    #sub-page.menu section.lv3 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #sub-page.menu section.lv1#self-facial section.lv2.self-facial section.lv3.merit img {
        height: 362px;
    }

    #sub-page.menu section.lv1#self-facial section.lv2.self-facial section.lv3.osusume img {
        height: 408px;
    }

    #sub-page.menu section.lv1#self-body section.lv2.self-body section.lv3.merit img {
        height: 338px;
    }

    #sub-page.menu section.lv1#self-body section.lv2.self-body section.lv3.osusume img {
        height: 290px;
    }

    #sub-page.menu section.lv1#yomogimushi section.lv2.yomogimushi section.lv3.merit img {
        height: 539px;
    }

    #sub-page.menu section.lv1#yomogimushi section.lv2.yomogimushi section.lv3.osusume img {
        height: 609px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3.osusume img {
        height: 231px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3.osusume img {
        height: 231px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.kassa-facial section.lv3.merit img {
        height: 279px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.kassa-facial section.lv3.osusume img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.visuddha section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.visuddha section.lv3.osusume img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.bicho section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.bicho section.lv3.osusume img {
        height: 349px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.indian section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.indian section.lv3.osusume img {
        height: 362px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.visuddha section.lv3.merit img {
        height: 373px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.visuddha section.lv3.osusume img {
        height: 432px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.kassa section.lv3.merit img {
        height: 349px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.kassa section.lv3.osusume img {
        height: 231px;
    }

    #sub-page.menu section.lv3.merit > .row {
        margin-left: 0;
    }

    #sub-page.menu section.lv3.osusume > .row {
        margin-right: 0;
    }

    #sub-page.menu section.lv3 table th {
        width: 36%;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.basic-facial section.lv3 table th {
        width: 36%;
    }

    #sub-page.menu section.lv3 table td {
        padding-right: 33%;
    }

    #sub-page #main-contents dl dt {
        float: left;
        width: 106px;
        padding-bottom: 10px;
    }

    #sub-page #main-contents dl dd {
        padding-left: 129px;
        padding-top: 10px;
    }
}

@media (min-width: 992px) {
    #sub-page.menu section.lv3 > p {
        text-align: center;
    }

    #sub-page.menu section.lv1#self-facial section.lv2.self-facial section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#self-body section.lv2.self-body section.lv3.merit img {
        height: 290px;
    }

    #sub-page.menu section.lv1#yomogimushi section.lv2.yomogimushi section.lv3.merit img {
        height: 467px;
    }

    #sub-page.menu section.lv1#yomogimushi section.lv2.yomogimushi section.lv3.osusume img {
        height: 585px;
    }

    #sub-page.menu section.lv1#hand-facial section.lv2.kassa-facial section.lv3.merit img {
        height: 231px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.indian section.lv3.osusume img {
        height: 290px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.visuddha section.lv3.merit img {
        height: 349px;
    }

    #sub-page.menu section.lv1#hand-body section.lv2.visuddha section.lv3.osusume img {
        height: 408px;
    }

    #sub-page #main-contents dl {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    #sub-page.menu section.lv1 {
        padding: 40px 0;
    }

    #sub-page.menu section.lv1 > h1 {
        font-size: 30px;
    }

    #sub-page.menu section.lv2 > h1 {
        font-size: 28px;
    }

    #sub-page.menu section.lv3 > h1 {
        font-size: 26px;
    }
}

/* #sub-page.mail
--------------------------------------------------------------*/
#sub-page.mail .post {
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 20px 80px;
    float: none;
}

#sub-page.mail .form-group {
    margin-bottom: 20px;
}

#sub-page.mail .form-control {
    background: #ddd;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
}

#sub-page.mail .form-control:hover, #sub-page.mail .form-control:focus {
    background: #fff;
}

#sub-page.mail .privacy {
    padding: 20px;
    background: #f5f5f5;
    margin: 40px 0;
    height: 200px;
    overflow-y: scroll;
}

#sub-page.mail .privacy h1 {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 10px 0 40px;
    border-bottom: 1px solid #ddd;
}

#sub-page.mail p.note {
    text-align: center;
}

#sub-page.mail .btn {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #f00;
    border-color: #ccc;
}

#sub-page.mail.thanks .post {
    text-align: center;
    margin: 60px 0;
    box-shadow: none;
}

#sub-page.mail.thanks .post .btn {
    width: 200px;
    border: none;
}

/* MFP reset */
.mfp_element_all:not(button) {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
}

.btn-primary {
    text-shadow: none;
    font-size: 18px;
}

form#mailformpro label {
    white-space: normal;
}

.mfp_element_text, .mfp_element_number, .mfp_element_select-one, .mfp_element_email, .mfp_element_tel, .mfp_element_textarea, .mfp_element_date {
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
    margin: 0;
}

.mfp_element_submit {
    padding: 10px 16px !important;
    border: 1px solid transparent;
}

.mfp_element_button {
    background: rgba(100,191,170,0.7) !important;
    border: 1px solid rgba(100,191,170,0.7) !important;
    text-shadow: none;
    color: #fff;
    width: 130px;
    margin: 10px;
}

.mfp_element_button:hover {
    background: #f00;
}

div.mfp_err {
    background-position: 0px 4px;
}

.btn-lg {
    border-radius: 6px !important;
}

.thanks .wrapper {
    margin: 100px 0 1000px;
    text-align: center;
}

@media (min-width: 768px) {
    #sub-page.mail .post {
        padding: 50px 50px 70px;
    }

    #sub-page.mail .form-group {
        margin-bottom: 30px;
    }

    #sub-page.mail .privacy {
        padding: 40px;
        height: 300px;
    }
}

/* iPada?aA￠a?￢A°A￠a?°AaiPadPro */
@media only screen and (min-device-width: 768px) and (max-device-width:1366px) {
    .well {
        width: 100%;
    }

    .well img {
        max-width: 100%;
    }

    .pc {
        display: none;
    }

    .tab {
        display: block;
    }

    .sp {
        display: none;
    }

    #mainImg {
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    #sub-message img {
        width: auto;
        height: auto;
    }
}

/* iPhone5a?aA￠a?￢A°A￠a?°AaiPhone6 */
@media only screen and (min-device-width: 320px) and (max-device-width:568px) {
    .well {
        width: 100%;
    }

    .well img {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    #sub-message img {
        width: auto;
        height: auto;
    }
}

/*ad-kishikawa add*/
/*.hana_pro_txt {
    margin-top: -5px;
}

.hana_pro_txt02 {
    margin-top: -35px;
} */

.attention-box {
    border-top: solid 1px #444;
    border-bottom: solid 1px #444;
    padding: 2%;
    width: 100%;
}

.attention-box span {
    font-family: 'Vollkorn', serif;
    font-size: 2.5rem;
    color: #FF0000;
}


/*KAKUUCHI*/
@media (max-width: 768px) {
.col-xs-6 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: none;
}

}


